// use variables for icon sizes!!!
a:hover{
  cursor: pointer;
}

.top-bar{
  width: 100%;
  height: 70px;
  background: #2F353D;
  position: relative;
  display: flex;

  .logo{
    width: 110px;
    display: flex;
    align-items: center;
    margin-left: 15px;
   }

  .add-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    display: flex;
    font-size: 30px;
    .fa-bars{
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
  }

  .drop-menu{
    display: none;
    background: white;
    width: 190px;
    position: absolute;
    top:70px;
    right: 0px;
    ul{
      background: #E4E7EB;
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }
    }
  }
}

.home-icon{
  width: 110px;
  height: 40px;
  background: white;
  position: absolute;
  top: 15px;
  left: 15px;
}


.center-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 315px;
  border-bottom: 1px solid white;

  .desc-sec{
    position: relative;
    display: flex;
    align-items: center;;
    width: 250px;
    height: 70px;
    background: #F1F5F9;

    .desc-icon{
      position: absolute;
      left: 15px;
      width: 40px;
      height: 40px;
      background: black;
    }
    .desc-text{
      position: absolute;
      left: 100px;
      h2{
      }
    }
  }
}


.nav-list{
  // height: 312px;
  .nav-item{
    position: relative;
    .nav-text{
    // color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;
    background: #E4E7EB;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    }
    .nav-icon{
      width: 40px;
      height: 40px;
      background: #83838F;
      position: absolute;
      top: 15px;
      right: 15px;

    }
  }
}
